#occupancy {
    margin-top: 15px;
    margin-bottom: 30px;

    font-size: 24px;

    & .count {
        font-size: 48px;
        margin-right: 15px;
    }
}

.Home {    
    & td {
        width: 200px;
        height: 40px;
    }

    & .present {
        color: rgb(0, 202, 0);
    }

    & .absent {
        color: rgb(235, 57, 57)
    }
}